body{
    font-family: Roboto, sans-serif;
}

#navbar{
    background-color: #2196f3;
    color: white;
    box-shadow: 3px 3px darkgray;
}

button {
    background-color: #2196f3;
    color: white;
    border: 1px white solid;
}

#gotIt {
    border: 1px black solid;
}

#retrieve {
    border: 1px solid white;
}

#park {
    border: 1px solid white;
}

#instructions {
    border: 1px black solid;
    box-shadow: 3px 3px darkGray;
}

#map {
    border: 1px black solid;
    box-shadow: 3px 3px darkGray;
}

#directions {
    border: 1px black solid;
    box-shadow: 3px 3px darkGray;
}